.kit-image {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;

  width: auto;
  height: 20vh;
  display: block;
}

/* .frame {
  width: auto;
  height: 30vh;
  background: transparent no-repeat;
  background-size: cover;
}

.frame > img {
  display: block;
} */

.kit-image:hover,
.kit-image:focus {
    box-shadow: 0 5px 25px rgba(0,0,0,0.9);
}

.Preto {
  background-color: #000;
  color: #FFF;
}

.Azul {
  background-color: blue;
  color: #000;
}

.Marrom {
  background-color: saddlebrown;
  color: #FFF;
}

.Verde {
  background-color: green;
  color: #000;
}

.Cinza {
  background-color: gray;
  color: #000;
}

.Laranja {
  background-color: darkorange;
  color: #000;
}

.Rosa {
  background-color: magenta;
  color: #000;
}

.Roxo {
  background-color: purple;
  color: #FFF;
}

.Vermelho {
  background-color: red;
  color: #000;
}

.Branco {
  background-color: #FFF;
  color: #000;
}

.Amarelo {
  background-color: yellow;
  color: #000;
}

.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #dddddd;
}